body {
  font-family: sans-serif;
}

.title {
  text-align: center;
}

.poke-form {
  font-family: monospace;
}

.poke-form label {
  display: block;
  margin-bottom: 10px;
}

.poke-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #ffffff;

  border: solid 1px #00000030;
  border-radius: 5px;

  font-family: monospace;
}

.poke-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 10px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pokemon {
  border: solid 1px #00000010;
  border-radius: 5px;
  padding: 20px;

  box-shadow: 2px 2px 5px 0 #00000030;
}

.pokemon img {
  width: 100%;
  max-height: 150px;
}

.pokemon h2 {
  text-align: center;
}
